* {
      font-family: "Lato", Arial, sans-serif; 
}

body {
      background: linear-gradient(-100deg, #00c9ff, #92fe9d);
      background-size: 400% 400%;
      position: relative;
}

footer {
      display: block;
      margin-left: 1%;
}

.social-icons a {
      color: white;
      padding: 10px;
      font-size: 25px;
      text-shadow: -2px 3px 0px #000000;
}

.icons {
      position: relative;
      text-align: center;
      top: 37rem;
}

h1 {
      color: white;
      text-shadow: -5px 4px 0px #000000;
      font-size: 50px;
      text-transform: uppercase;
      letter-spacing: 3px;
      position: absolute;
      margin-top: 21%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.typewrite {
      color: white;
      text-decoration: none;
      text-shadow: -2px 2px 0px #000000;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 3px;
      position: absolute;
      margin-top: 24%;
      left: 50%;
      transform: translate(-50%, -50%);
}

ul {  
      background-color: white;  
      border-radius: 10px;  
      list-style: none;  
      display: flex;  
      align-items: center;  
      justify-content: center;  
      box-shadow: -7px 9px 17px 0px #00000017;  
}  

li a {  
      display: inline-block;  
      padding: 10px 20px;  
      text-decoration: none;  
      color: black;  
}

li:hover a {  
      color: #4FD1C5;  
}  

nav {  
      position: relative;  
}

.icon {  
      position: absolute;  
      top: 50%;  
      transform: translateY(-50%);  
      right: -80px;  
      height: 60px;  
      width: 60px;  
      border-radius: 50%;  
      background-color: rgb(255, 255, 255);  
      background-image: url(../images/menu.png); 
      background-position: center;  
      background-repeat: no-repeat;  
      background-size: 50%;  
      cursor: pointer;  
      box-shadow: 0px 0px 17px 0px #00000017;  
      transition: 0.5s ease transform;  
     }  

.icon.close {  
      transform: translateY(-50%) rotate(360deg);
      background-image: url(../images/close.png);    
}

ul {  
      width: 0px;  
      overflow: hidden;  
      transform: translateX(50px);  
      opacity: 0;  
      pointer-events: none;  
      transition: 0.5s ease;  
      padding: 20px;  
}

nav.show ul {  
      width: 350px;  
      transform: translate(0px);  
      opacity: 1;  
      pointer-events: all;  
} 

nav {  
      position: absolute;  
      top: 10px;  
      right: 100px;  
}