body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      font-family: "Helvetica";
      background: #5433FF;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
      position: absolute;
      font-size: 17.5px;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: lighter;
      text-align: center;
      font-family: 'Courier Prime', monospace;
      color: #fff;
}

.text-center {
      position: absolute;
      font-size: 15px;
      top: 53%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: lighter;
      text-align: center;
}

.hover-border {
      font-family: 'Courier Prime', monospace;
      font-size: 20px;
      text-decoration: none;
      position: relative;
      color: #fff;
}

.hover-border::after {
      content: '';
      width: 0%;
      height: 2px;
      background: #fff;
      position: absolute;
      bottom: 0%; left: 50%;
      border-radius: 10%;
      transition: all 500ms ease;
}

.hover-border:hover::after {
      left: 0%;
      width: 100%;
}

.hero-section {
      width: 100%;
      height: 100vh;
      color: #fff;
}

.menu-btn {
      top: 0.5%;
      position: fixed;
      margin: 1em;
      font-size: 24px;
      color: #000;
      border-radius: 10%;
      cursor: pointer;
}

.close-menu {
      position: fixed;
      margin: 1em;
      font-size: 24px;
      color: #fff;
      z-index: 1;
      cursor: pointer;
}

.nav {
      margin-top: 10%;
      margin-left: -5%;
      text-align: center;
}

.nav ul {
      list-style: none;
}

.menu {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: #000;
}

.main-menu-item {
      padding-top: 30px;
}

.main-menu-item a {
      font-family: 'Roboto Condensed', sans-serif;  
      text-decoration: underline;
      font-size: 26px;
      color: #fff;
      font-weight: 500;
}

.media {
      margin-top: 40px;
      margin-left: 40.5%;
}

.media ul {
      list-style: none;
}

.media ul a {
      display: inline-block;
      color: grey;
      font-weight: lighter;
      padding-right: 15px;
      text-decoration: none;
}

.fab {
      color: #fff;
}

.fas {
      color: #fff;
}

.icon-mail {
      color: #fff;
}

@media(max-width: 768px) {
}